@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<dynamic>
@using System.Web.Mvc

<h2 id="dnnSitePanel-BasicSettings" class="dnnFormSectionHead"><a href="" class="dnnSectionExpanded">Koktél Recept Beállítások</a></h2>
<fieldset>
    <div class="dnnFormItem">
        <p>Válaszd ki azt a maximum 5 Hotcakes kategóriát, amiből a vásárlók összeállíthatják a koktélt!</p>
    </div>

    @for (int i = 1; i <= 5; i++)
    {
        var currentValue = ViewData["Cat" + i] as string ?? "-1";

        <div class="dnnFormItem">
            <label>@i. Összetevő:</label>

            @* A névnek pontosan cat1, cat2...-nek kell lennie! *@
            <select name="cat@(i)" class="form-control">
                @foreach (var category in (IEnumerable<System.Web.Mvc.SelectListItem>)ViewBag.Categories)
                {
                    <option value="@category.Value" @(category.Value == currentValue ? "selected" : "")>
                        @category.Text
                    </option>
                }
            </select>
        </div>
    }
</fieldset>